.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: absolute;
}

.navbar-container > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-right: auto;
  color: white;
  z-index: 1;
}

.logo {
  width: 100px;
  height: 50px;
  background-size: contain;
  background-image: url("../../assets/logo.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 0.3em;
  margin-top: 0.5em;
  margin-left: auto;
  cursor: pointer;
}
